@media only screen and (max-width: 600px) {
    .signin-cont {
      width:300px
    }
  }
  @media only screen and (min-width: 600px) {
    .signin-cont {
      width:550px,
      
    }
  }
  @media only screen and (min-width: 1200px) {
    .signin-cont {
      width:800px;
    }
  }



 